.ingredients-list {
  max-width: 600px;
  text-align: center;
}

.ingredients-list > ul {
  list-style: none;
}

.buttons-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 32px 0;
}

.remove-last-ingredients,
.reset-btn {
  background: var(--color-danger);
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.ask-recipe {
  max-width: 600px;
  margin: 32px 0;
  padding: 32px;
  border: 1px dashed var(--color-bg-primary);
  display: flex;
  align-items: center;
  gap: 16px;
}

.ask-recipe p {
  max-width: 300px;
  font-size: 0.9rem;
  font-style: italic;
  text-align: justify;
  line-height: 1.2rem;
}

.ask-recipe button {
  padding: 8px;
}

@media (max-width: 480px) {
  .buttons-container {
    padding: 8px;
    flex-wrap: wrap;
  }

  .remove-last-ingredients,
  .reset-btn {
    padding: 8px;
    margin: 4px;
  }

  .ask-recipe {
    max-width: 600px;
    margin: 32px 8px;
    flex-direction: column;
  }
}
